/*다크모드*/
body.dark-mode {
  --primary-color: #e8c66a;
  --box-color: #2e2e2e;
  --background-color: #000000;
  --text-color: #ffffff;
  --text-sub-color: #a8a8a8;
}

body.dark-mode header.scrolled {
  background-color: rgba(30, 30, 30, 0.8);
  backdrop-filter: blur(5px);
}

body.dark-mode header .sub_header_container .header_logo {
  color: var(--text-color);
  transition: all 0.3s ease;
}

body.dark-mode header .sub_header_container .mode_icon button img {
  filter: invert(1);
  transition: all 0.3s ease;
}

body.dark-mode .more_btn_wrap:before,
body.dark-mode .more_btn_wrap:after {
  filter: brightness(0.1);
}

body.dark-mode .overlay {
  background: rgba(255, 255, 255, 0.15);
}

body.dark-mode .mobile_nav .mode_icon button img {
  filter: invert(1);
}

body.dark-mode .mobile_nav .mode_icon div.ham_menu .ham_container .bar {
  background: #fff;
}

body.dark-mode
  header
  .header_container
  .mode_icon
  div.ham_menu
  .ham_container
  .bar {
  background: #fff;
}

body.dark-mode
  .about_section
  .career_container
  .career_wrap
  .career_list
  .more_btn:hover {
  color: var(--box-color);
}

body.dark-mode
  .about_section
  .career_container
  .career_wrap
  .career_list
  .more_btn
  img {
  transition: all 0.3s;
}

body.dark-mode section .more_btn_bk {
  background: #3a342c;
  color: #ffffff;
  border-color: #3a342c;
  transition: all 0.3s;
}
body.dark-mode section .more_btn_bk:hover {
  background-color: #312d28;
}
body.dark-mode header .header_container .mode_icon button img {
  filter: invert(1);
}

body.dark-mode
  .portfolio_section
  .portfolio_container
  .portfolio_item
  .circle_btn_wrap:before,
body.dark-mode
  .portfolio_section
  .portfolio_container
  .portfolio_item
  .circle_btn_wrap:after {
  filter: invert(1);
}

body.dark-mode .fix_bar {
  border-top-color: #333;
  background-color: #000;
}

body.dark-mode .fix_bar .bar_container .right_wrap .list_btn {
  background: #2e2e2e;
}

body.dark-mode .fix_bar .bar_container .left_wrap .more_btn {
  color: var(--text-color);
}

body.dark-mode .fix_bar .bar_container .left_wrap .more_btn img {
  filter: invert(1);
}

body.dark-mode .list_body .main_shot {
  background: var(--box-color);
}

body.dark-mode
  .about_section
  .about_top
  .about_top_container
  .right_wrap
  .skill_group
  li.filter-icon
  img {
  filter: invert(1);
}

body.dark-mode .mobile_nav {
  background: rgba(0, 0, 0, 0.7);
}

header .header_container .mode_icon div.ham_menu {
  display: none;
}

header .header_container .mode_icon div.ham_menu .ham_container {
  width: 26px;
  height: 26px;
  padding: 0;
  position: relative;
}

header .header_container .mode_icon div.ham_menu .ham_container .bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1px;
}

header
  .header_container
  .mode_icon
  div.ham_menu
  .ham_container
  .bar:nth-child(1) {
  margin-top: -8px;
}

header
  .header_container
  .mode_icon
  div.ham_menu
  .ham_container
  .bar:nth-child(2) {
  margin-top: 8px;
}

body.dark-mode section .more_btn_bk img {
  filter: invert(1);
}

header {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  z-index: 800;
}

header .header_container {
  padding: 0 var(--padding-container);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

header .header_container .header_logo {
  font-size: 24px;
  color: var(--text-color);
  font-weight: var(--font-weight-bold);
  font-family: "Playfair Display", serif;
}

header .header_container .header_list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header .header_container .header_list ul {
  display: flex;
  align-items: center;
  gap: 80px;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
}
header .header_container .mode_icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .header_container .mode_icon button {
  cursor: pointer;
  padding: 8px;
  border-radius: 100%;
  transition: all 0.3s ease;
}

header .header_container .mode_icon button:hover,
header .header_container .mode_icon button[aria-pressed="true"] {
  background: var(--box-color);
}

header .header_container .mode_icon button img {
  max-width: 26px;
  height: auto;
}

/*스크롤 시 스타일*/
header.scrolled {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
}

/*서브페이지 헤더 스타일*/
header .sub_header_container .header_logo {
  color: #fff;
  transition: all 0.3s ease;
}

header .sub_header_container .mode_icon button img {
  filter: invert(1);
  transition: all 0.3s ease;
  max-width: 24px;
}

header .sub_header_container .mode_icon button:hover img,
header .sub_header_container .mode_icon button[aria-pressed="true"] img {
  filter: invert(0);
}

header.scrolled .sub_header_container .header_logo {
  color: var(--text-color);
}

header.scrolled .sub_header_container .mode_icon button img {
  filter: invert(0);
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/*모바일 사이드 메뉴*/
/* 모바일 네비게이션 기본 숨김 */
.mobile_nav {
  position: fixed;
  top: 0;
  right: -300px;
  max-width: 300px;
  width: 80vw;
  height: 100vh;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.95) 70%,
    rgba(255, 255, 255, 0.78) 100%
  );

  backdrop-filter: blur(20px);
  padding-top: 30px;
  transition: right 0.3s ease;
  z-index: 999;
}

.mobile_nav .mode_icon {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  padding-right: var(--padding-container);
}

.mobile_nav .mode_icon button {
  cursor: pointer;
  padding: 8px;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.mobile_nav .mode_icon button:hover,
.mobile_nav .mode_icon button[aria-pressed="true"] {
  background: var(--box-color);
}

.mobile_nav .mode_icon button img {
  max-width: 24px;
  height: auto;
}

.mobile_nav .mode_icon div.ham_menu .ham_container {
  width: 24px;
  height: 24px;
  padding: 0;
  position: relative;
}

.mobile_nav .mode_icon div.ham_menu .ham_container .bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  left: 50%;
  top: 50%;
}

.mobile_nav .mode_icon div.ham_menu .ham_container .bar:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}

.mobile_nav .mode_icon div.ham_menu .ham_container .bar:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.mobile_nav ul {
  list-style: none;
  padding-top: 40px;
  margin: 0;
}

.mobile_nav ul li {
  padding: 20px 30px;
}

.mobile_nav ul li a {
  color: var(--text-color);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  transition: all 0.3s ease;
}

.mobile_nav ul li:hover a {
  opacity: 0.6;
}

/* 열릴 때 */
.mobile_nav.active {
  right: 0;
  box-shadow: -18px 0 28px rgba(0, 0, 0, 0.1);
}

/* 전체 화면 블러 오버레이 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(1px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 900;
  /* 헤더 위, 메뉴 아래 */
}

/* 오버레이 활성화 */
.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

section .btn_group {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
}

section .more_btn {
  padding: 15px 26px;
  background: var(--primary-color);
  color: #151515;
  border-radius: var(--border-radius-btn);
  font-size: 15px;
  line-height: normal;
  font-weight: var(--font-weight-semibold);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s;
  width: fit-content;
  font-size: 14px;
}
.btn_group .more_btn:hover {
  background-color: var(--hover-color);
  transform: translateY(-2px);
}
section .more_btn_bk {
  background: var(--box-color);
  color: var(--text-color);
}
.btn_group .more_btn_bk:hover {
  background-color: #ddd;
}
section .more_btn img {
  width: 24px;
  transition: all 0.3s;
  transform: rotate(180deg);
}

footer {
  text-align: center;
  font-size: 13px;
  padding: 10px 0;
  position: relative;
  z-index: 999999;
  background-color: var(--background-color);
  color: var(--text-color);
}
/* =======================
    반응형
======================= */
@media (max-width: 1400px) {
  :root {
    --font-size-title-lg: 60px;
    --font-size-title-md: 40px;
    --font-size-subtitle: 28px;
    --font-size-lg: 20px;
    --font-size-md: 16px;
  }

  .main_visual .main_visual_wrap .main_visual_title .change_words {
    height: 80px;
  }

  .about_section,
  .portfolio_section {
    max-width: 1200px;
  }

  .fix_bar .bar_container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  :root {
    --font-size-title-lg: 52px;
  }

  .portfolio_section .portfolio_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .main_visual .main_visual_wrap .main_visual_title .change_words {
    height: 70px;
  }

  .about_section,
  .portfolio_section {
    max-width: 1000px;
  }

  header .header_container .header_list {
    gap: 60px;
  }
}

@media (max-width: 1024px) {
  :root {
    --font-size-title-lg: 48px;
    --font-size-title-md: 34px;
    --font-size-subtitle: 24px;
    --font-size-md: 15px;
  }

  .about_section,
  .portfolio_section {
    max-width: 90%;
    padding: 0 20px;
  }

  .about_section .about_top .about_top_container .left_wrap {
    width: 45%;
  }

  .about_section .about_top .about_top_container .right_wrap {
    padding: 50px 30px;
    width: 55%;
  }

  header .header_container .header_list {
    display: none;
  }

  header .header_container .mode_icon div.ham_menu {
    display: block;
  }

  .list_visual .logo_wrap h1 {
    font-size: 5.5vw;
    text-align: center;
    letter-spacing: 0.8em;
  }
}

@media (max-width: 1000px) {
  .main_visual .main_visual_wrap .main_visual_title {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
  }

  .about_section .about_top .about_top_container {
    flex-direction: column;
  }

  .about_section .about_top .about_top_container .left_wrap {
    width: 50%;
  }

  .about_section .about_top .about_top_container .right_wrap {
    width: 100%;
    padding: 50px;
  }

  .list_body .list_desc_group {
    width: 80%;
  }
}

@media (max-width: 768px) {
  :root {
    --font-size-lg: 18px;
  }

  header .header_container .header_logo {
    font-size: 4vw;
  }

  .about_section,
  .portfolio_section {
    max-width: 90%;
    padding: 0 20px;
  }

  header .header_container .mode_icon {
    gap: 10px;
  }

  .about_section .about_top .about_top_container {
    flex-direction: column;
  }

  .about_section .about_top .about_top_container .left_wrap {
    width: 60%;
    padding: 5%;
  }

  .about_section .about_top .about_top_container .right_wrap {
    width: 100%;
    padding: 20px 10px;
    padding-bottom: 40px;
  }

  .about_section .about_top .about_top_container .right_wrap .skill_group {
    gap: 10px;
  }

  .about_section .career_container .career_wrap .career_list::after {
    top: 0;
    left: -46px;
  }

  .about_section .career_container .career_wrap .career_list {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 70px;
  }

  .about_section
    .career_container
    .career_wrap
    .career_list
    .list_group
    .list_item.show {
    margin-bottom: 24px;
  }

  .about_section .career_container .career_wrap .career_list .year {
    font-size: 24px;
  }

  .portfolio_section .portfolio_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about_section .career_container .career_wrap .career_list .list_group {
    padding-bottom: 20px;
    padding-left: 0;
  }

  .about_section
    .career_container
    .career_wrap
    .career_list
    .list_group
    .list_item
    h4 {
    margin-bottom: 10px;
  }

  .about_section .career_container .career_wrap .career_list .more_btn {
    left: 0;
  }

  .about_section .career_container .career_wrap .career_list::before {
    height: calc(100% + 60px);
    left: -40px;
  }

  .portfolio_section .portfolio_container {
    gap: 20px;
    row-gap: 60px;
  }

  .fix_bar .bar_container {
    height: 60px;
  }

  .fix_bar .bar_container .right_wrap {
    line-height: 60px;
    font-size: 13px;
  }

  .fix_bar .bar_container .right_wrap .list_btn {
    width: 60px;
  }

  .list_body .main_shot {
    padding-bottom: 60px;
  }
}

@media (max-width: 600px) {
  :root {
    --font-size-base: 15px;
  }

  section .more_btn {
    font-size: 13px;
  }

  .portfolio_section .portfolio_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about_section .career_container .conpany_info {
    display: flex;
  }

  .about_section .about_top .about_top_container .right_wrap h4 {
    margin-bottom: 20px;
  }

  .about_section .career_container .conpany_info .info_title {
    flex-direction: column;
    width: 32%;
    padding: 14px 20px;
    gap: 20px;
    border-bottom: none;
    border-right: 1px solid #ddd;
  }

  .about_section .career_container .conpany_info .info_title > li {
    width: 100%;
    text-align: left;
  }

  .about_section .career_container .conpany_info .info_content {
    flex-direction: column;
    width: 68%;
    padding: 14px 20px;
    gap: 20px;
  }

  .about_section .career_container .conpany_info .info_content > li {
    width: 100%;
    text-align: left;
  }

  .main_visual .main_visual_wrap .main_visual_title .change_words {
    max-width: 400px;
  }

  .list_body .list_desc_group .list_desc {
    gap: 14px;
  }
}

@media (max-width: 480px) {
  :root {
    --font-size-title-lg: 36px;
    --font-size-title-md: 24px;
    --font-size-subtitle: 20px;
    --font-size-lg: 16px;
    --font-size-md: 15px;
  }

  .list_body .list_desc_group {
    width: 90%;
  }

  .about_section,
  .portfolio_section {
    max-width: 100%;
    padding: 0 20px;
  }

  .about_section .about_top .about_top_container .left_wrap {
    width: 70%;
    margin-top: 40px;
  }

  .about_section .about_top .about_top_container .right_wrap .skill_group li {
    width: 54px;
    height: 54px;
  }

  .about_section .career_container .career_wrap {
    padding-left: 60px;
    padding-right: 20px;
  }

  #main header .header_container .mode_icon > button {
    display: none;
  }

  .main_visual .main_visual_wrap .main_visual_title .change_words {
    max-width: 80%;
  }

  .main_visual .floating_circle {
    width: 70vw;
  }

  .about_section .about_top .section_title {
    margin-bottom: 20px;
  }

  section .btn_group {
    align-items: flex-start;
    gap: 12px;
    flex-wrap: wrap;
  }

  section .more_btn {
    padding: 14px 16px;
  }

  .fix_bar .bar_container .left_wrap .more_btn {
    padding: 0;
  }

  section .more_btn img {
    width: 18px;
  }

  .list_visual .logo_wrap h1 {
    font-size: 7vw;
  }

  header {
    height: 80px;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
